# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
.vscode

# Frontend
src/frontend/node_modules/
src/frontend/.npm-cache/
src/frontend/dist/
src/frontend/.vite/
src/frontend/.env.local
src/frontend/.env.*.local
